body{
    background-image: url('./blur1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#logoo{
    background-color: white;
   padding-left: 60%;
   padding-top: 3%;
}
#tag1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 1%;
}
.log{
    color: aliceblue;
    text-decoration: none;
    margin-left: 15px;
}