.App {
    background-color:rgb(255, 255, 255);
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;    
    background-image: url("https://wallpapercave.com/wp/wp2168277.jpg");

  }
  
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  .imgsrc{
    border-radius:50%;
    height: 120px;
    margin-right: 60%;
    padding-left: 30%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 400; 
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    font-family: Arial, Helvetica, sans-serif;
  }
  #log{
    margin-right: 90%;
  }
  #buttt{
    margin-left: 20%;
    padding-left: 20%;
    padding-right: 20%;
  }